<div class="background">
  <div class="content">
    <div class="header">
      <a href="" target="_blank">
        <img src="/assets/iDatanomics_landing.svg">
      </a>
    </div>
    <div class="section">
      <h3>IoT Management & Analytic Service</h3>
      <h1>Data Drives Next Economics</h1>
      <h4>Manage Your Edge Device. Predict & Take Actions</h4>
      <div class="link-container">
        <a class="link-button" href=""><label class="learn-more">LEARN MORE</label></a>
        <div class="hr"></div>
        <a class="link-button sign-in" routerLink="/login"><label class="sign-in-button">SIGN IN</label></a>
      </div>
    </div>
    <div class="footer">
      <div class="copyright">
        <div class="copyright-container">
          <div class="copyright-2018-ave">Copyright© 2019 iDatanomics, LLC. All rights reserved.</div>
          <div class="privacy-policy-ter">
            <a href="">Privacy Policy</a> |
            <a href="">Terms of Use</a> |
            <a href="">Security Statement</a>
          </div>
        </div>
      </div>
      <div class="copyright avevaDisclaimer">
        <!-- <p>
          The Schneider Electric industrial software business and AVEVA have merged to trade as AVEVA Group plc, a UK
          listed company.
          The Schneider Electric and Life is On trademarks are owned by Schneider Electric and are being licensed to
          AVEVA by Schneider Electric
        </p> -->
      </div>
    </div>
  </div>
</div>