<div class="drag-wrapper" [class.edit-mode]="isEditMode" [class.edit-focus]="symbolInfo.isFocus" (click)="onFocus()"
(appClickOutside)="symbolInfo.isFocus = false" [style.width.px]="symbolInfo.svgWidth"
  [style.height.px]="symbolInfo.svgWidth * viewBoxHeight / viewBoxWidth" [style.top.px]="symbolInfo.positionY"
  [style.left.px]="symbolInfo.positionX" appSymbolResizable (symbolResized)="onSymbolResized($event)">
  <div style="width: auto; height: auto; " appSymbolDragable (symbolMoved)="onSymbolMoved($event)"
    dragBoundarySelector=".back-ground" [disableDrag]="!isEditMode">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" version="1.1"
      style="top: 0px; left: 0.5px; overflow: visible;">
      <circle cx="30" cy="30" r="25" [style.fill]="pathStroke" />
      <circle *ngIf="lightened" cx="30" cy="30" r="15" [style.fill]="valueStroke" />
    </svg>
  </div>
</div>