<div class="background">
  <form [formGroup]="user" class="login-form">
    <img src="/assets/iDatanomics_login.svg"/>
    <mat-form-field>
      <input matInput formControlName="name" placeholder="User Name" >
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" formControlName="password" placeholder="Password" >
    </mat-form-field>
    <div class="change-pwd">Change / Forgot Password?</div>
    <button mat-raised-button color="primary" (click)="login()">Login</button>
  </form>
</div>
