<div class="drag-wrapper" [class.edit-mode]="isEditMode" [class.edit-focus]="symbolInfo.isFocus" (click)="onFocus()"
(appClickOutside)="symbolInfo.isFocus = false" [style.width.px]="symbolInfo.svgWidth"
  [style.height.px]="symbolInfo.svgWidth * viewBoxHeight / viewBoxWidth" [style.top.px]="symbolInfo.positionY"
  [style.left.px]="symbolInfo.positionX" appSymbolResizable (symbolResized)="onSymbolResized($event)">
  <div style="width: auto; height: auto; " appSymbolDragable (symbolMoved)="onSymbolMoved($event)"
    dragBoundarySelector=".back-ground" [disableDrag]="!isEditMode">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 151 72" version="1.1"
      style="top: 0px; left: 0.5px; overflow: visible; visibility: inherit;">
      <text x="0" y="30" font-family="Microsoft Sans Serif" font-size="16" fill="rgba(255,255,255,1)">
        {{currentValue}}
      </text>
      <line x1="0" y1="45" x2="150" y2="45" [attr.stroke]="pathStroke" stroke-width="15" />
      <line x1="0" y1="45" [attr.x2]="valueX" y2="45" [attr.stroke]="valueStroke" stroke-width="15" />
      <text x="0" y="65" font-family="Microsoft Sans Serif" font-size="13" fill="rgba(255,255,255,0.6)">
        {{min}}
      </text>
      <text x="150" y="65" font-family="Microsoft Sans Serif" font-size="13" fill="rgba(255,255,255,0.6)"
        text-anchor="end">
        {{max}}
      </text>
    </svg>
  </div>
</div>