<div class="back-ground">
  <app-symbol-wrapper tagName = "NewtonInsight.SysTimeSec"></app-symbol-wrapper>
  <app-clock360 tagName = "NewtonInsight.SysTimeSec"></app-clock360>
  <app-clock90 tagName = "SysTimeSec"></app-clock90>
  <app-trend tagName="SinTrend"></app-trend>
  <app-trend tagName="Pump"></app-trend>
  <app-trend tagName="Pressure"></app-trend>
  <app-horizontal-bar tagName="Pressure"></app-horizontal-bar>
  <app-radio-circle tagName="isPumping"></app-radio-circle>
  <app-radio-rect tagName="noPumping"></app-radio-rect>
</div>