<div class="drag-wrapper" [class.edit-mode]="isEditMode" [class.edit-focus]="symbolInfo.isFocus" (click)="onFocus()"
(appClickOutside)="symbolInfo.isFocus = false" [style.width.px]="symbolInfo.svgWidth"
  [style.height.px]="symbolInfo.svgWidth * viewBoxHeight / viewBoxWidth" [style.top.px]="symbolInfo.positionY"
  [style.left.px]="symbolInfo.positionX" appSymbolResizable (symbolResized)="onSymbolResized($event)">
  <div style="width: auto; height: auto; " appSymbolDragable (symbolMoved)="onSymbolMoved($event)"
    dragBoundarySelector=".back-ground" [disableDrag]="!isEditMode">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 53 21" version="1.1" style="overflow: visible;">
      <text x="0" y="0" dominant-baseline="hanging" text-anchor="start" [style.fill]="valueStroke"
        style="font:19px Microsoft Sans Serif;">{{currentValue}}</text>
    </svg>
  </div>
</div>