<div class="drag-wrapper" [style.top.px]="positionY" [style.left.px]="positionX" appSymbolResizable>
  <div style="width: auto; height: auto; " appSymbolDragable>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" version="1.1" 
      [style.width.px]="svgWidth" [style.height.px]="this.svgWidth * this.viewBoxHeight / this.viewBoxWidth"
      style="top: 0px; left: 0.5px; overflow: visible;">
      <rect x="5" y="5" width="50" height="50" [style.fill]="pathStroke"/>
			<rect *ngIf="lightened" x="15" y="15" width="30" height="30" [style.fill]="valueStroke"/>
    </svg>
  </div>
</div>