<div class="drag-wrapper" [class.edit-mode]="isEditMode" [class.edit-focus]="symbolInfo.isFocus" (click)="onFocus()"
  (appClickOutside)="loseFocus()" exemptSelector="symbol-focus-exempt" [style.width.px]="symbolInfo.svgWidth"
  [style.height.px]="symbolInfo.svgWidth * viewBoxHeight / viewBoxWidth" [style.top.px]="symbolInfo.positionY"
  [style.left.px]="symbolInfo.positionX" appSymbolResizable (symbolResized)="onSymbolResized($event)">
  <div style="width: auto; height: auto; " appSymbolDragable (symbolMoved)="onSymbolMoved($event)"
    dragBoundarySelector=".back-ground" [disableDrag]="!isEditMode">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" version="1.1"
      style="top: 0px; left: 0.5px; overflow: visible;">
      <rect x="5" y="5" width="50" height="50" [style.fill]="pathStroke" />
      <rect *ngIf="lightened" x="15" y="15" width="30" height="30" [style.fill]="valueStroke" />
    </svg>
  </div>
</div>