<div class="composer-view">
  <mat-card>
    <span class="title">Supervisor Plant Overview</span>
    <button mat-icon-button *ngIf="isEditMode">
      <mat-icon svgIcon="save" (click)="onSave()"></mat-icon>
    </button>
    <button mat-icon-button *ngIf="isEditMode">
      <mat-icon svgIcon="cancel"></mat-icon>
    </button>
    <button mat-icon-button *ngIf="!isEditMode" (click)="onEdit()">
      <mat-icon svgIcon="edit"></mat-icon>
    </button>
    <button mat-icon-button *ngIf="!isEditMode" >
      <mat-icon svgIcon="fullscreen" ></mat-icon>
    </button>
  </mat-card>
  <mat-sidenav-container cdkDropListGroup>
    <mat-sidenav-content >
      <div class="content-holder" #contentHolder (window:resize)="onResize($event)">
        <div class="canvas" #mainCanvas [style.width.px]="canvasWidth" [style.height.px]="canvasHeight" cdkDropList (cdkDropListDropped)="onAddTag($event)">
          <app-screen-view [backgroundImage]="backGroundImage" [backgroundSize]="backgroundSize" [isEditMode]="isEditMode"
            [symbolList]="symbolList" [cardList]="cardList" (symbolMoved)="onSymbolMoved($event)" (symbolResized)="onSymbolResized($event)"
            (symbolFocusChanged)="onSymbolFocusChanged($event)">
          </app-screen-view>
        </div>
      </div>
    </mat-sidenav-content>
    <mat-sidenav class="symbol-focus-exempt" position="end" mode="side" [opened]="isEditMode" (closed)="onCloseEdit()" (opened)="onOpened()">
      <mat-tab-group dynamicHeight>
        <mat-tab *ngIf="focusedSymbols.length === 0" label="Canvas Properties">
          <form [formGroup]="canvasProps">
            <div class="property-row">
              <span>Width </span>
              <button mat-icon-button (click)="changeSize('minus', 'width')">
                <mat-icon svgIcon="minus"></mat-icon>
              </button>
              <mat-slider thumbLabel tickInterval="1" [min]="canvasMinSize" [max]="canvasMaxSize"
                formControlName="width" (change)="updateCanvasSize()"></mat-slider>
              <button mat-icon-button (click)="changeSize('add', 'width')">
                <mat-icon svgIcon="add"></mat-icon>
              </button>
            </div>
            <div class="property-row">
              <span>Height</span>
              <button mat-icon-button (click)="changeSize('minus', 'height')">
                <mat-icon svgIcon="minus"></mat-icon>
              </button>
              <mat-slider thumbLabel tickInterval="1" [min]="canvasMinSize" [max]="canvasMaxSize"
                formControlName="height" (change)="updateCanvasSize()"></mat-slider>
              <button mat-icon-button (click)="changeSize('add', 'height')">
                <mat-icon svgIcon="add"></mat-icon>
              </button>
            </div>
            <div class="resolution-row">
              <div class="label">Resolutions</div>
              <div class="values">
                <div *ngFor="let res of resolutionsLst">{{res.viewValue}}</div>
              </div>
            </div>
            <div class="property-row">
              <button mat-raised-button color="primary" (click)="imgFileInput.click()">Change Background</button>
              <input hidden #imgFileInput type="file" accept="image/jpeg,image/gif,image/png"
                (change)="previewImage($event)" />
              <button mat-raised-button color="accent" (click)="removeBackground()">Remove Background</button>
            </div>
            <div class="property-row">
              <mat-radio-group formControlName="bgSizeOption" (change)="resizeBackground()" [disabled]="backGroundImage === null">
                <mat-radio-button value="horizontal">Horizontal</mat-radio-button>
                <mat-radio-button value="vertical">Vertical</mat-radio-button>
                <mat-radio-button value="stretch">Stretch</mat-radio-button>
              </mat-radio-group>
            </div>
          </form>
        </mat-tab>
        <mat-tab *ngIf="focusedSymbols.length === 0" label="Show Data"> <app-tag-list [tagList]="tagList" (addingTagMoved)="onAddingTagMoved($event)"></app-tag-list> </mat-tab>
        <mat-tab *ngIf="focusedSymbols.length === 0" label="Cards"> <app-cards  (addingTagMoved)="onAddingTagMoved($event)"></app-cards> </mat-tab>
        <mat-tab *ngIf="focusedSymbols.length !== 0" label="Symbol Properties"> <app-symbol-properties [focusedSymbols]="focusedSymbols" (graphicChanged)="onGraphicChanged($event)"></app-symbol-properties> </mat-tab>
      </mat-tab-group>
    </mat-sidenav>
  </mat-sidenav-container>
</div>