.composer-view {
  height: 100vh; 
  display: flex; 
  flex-direction: column;
  mat-card {
    display: flex;
    .title {
      flex: 1;
      font-size: 20px;
      font-weight: 500;
      line-height: 40px;
      color: #000;
    }
    input {
      font-size: 20px;
      font-weight: 500;
      color: #000;
      outline: none;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.38);
    }
    mat-icon {
      color: rgba(0,0,0,0.54);
    }
  }
  mat-sidenav-container {
    margin-top: 2px;
    flex: 1;
    mat-sidenav-content {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #E5E5E5;
      .content-holder {
        display: flex;
        justify-content: center;
        align-items: center;
        width:calc(100% - 20px);
        height:calc(100% - 20px);
        .canvas {
          box-shadow: 0px 0px 3px #888888;
          overflow: hidden;
        }
      }
    }
    mat-sidenav {
      width: 408px;
      .property-row {
        margin-top: 20px;
        margin-left: 20px;
      }
      .resolution-row {
        margin-top: 0;
        margin-left: 20px;
        display: flex;
        .label {
          margin-right: 10px;
        }
        .values {
          font-size: 12px;
          color: #000;
          opacity: .54;
        }
      }
    }
  }
}