<div class="composer-view">
  <mat-card>Supervisor Plant Overview</mat-card>
  <mat-sidenav-container>
    <mat-sidenav-content>
      <div >Main container</div>
    </mat-sidenav-content>
    <mat-sidenav position="end" mode="side" opened>
      <mat-form-field >
        <input type="number" matInput placeholder="Width" value="6">
      </mat-form-field>
      <mat-form-field >
        <input type="number" matInput placeholder="height" value="6">
      </mat-form-field>
    </mat-sidenav>
  </mat-sidenav-container>
</div>