.composer-view {
  height: 100vh; 
  display: flex; 
  flex-direction: column;
  mat-card {
    font-size: 20px;
    font-weight: 500;
    color: #000;
  }
  mat-sidenav-container {
    margin-top: 2px;
    flex: 1;
    mat-sidenav-content {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #E5E5E5;
      .content-holder {
        display: flex;
        justify-content: center;
        align-items: center;
        .canvas {
          box-shadow: 0px 0px 3px #888888;
        }
      }
    }
    mat-sidenav {
      width: 408px;
      .property-row {
        margin-top: 20px;
        margin-left: 20px;
      }
      // move to global
      // .mat-tab-label {
      //   min-width: 100px;
      // }
    }
  }
}