/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
  padding: 0;
}

.composer-view {
  mat-sidenav-container {
    mat-sidenav {
      .mat-tab-label {
        min-width: 100px;
      }
    }
  }
}

/* symbol global styles */
.back-ground {
  svg text {
    pointer-events:none;
    user-select: none;
  }
  .drag-wrapper {
    width: auto;
    height:auto;
    padding: 0px;
    position: absolute;
  }
  .edit-mode {
    cursor: move;
    border: 1px dashed gray;
    resize: both;
    overflow: hidden;
  }
  .edit-focus {
    background-color: rgba(0, 187, 255, 0.2);
    border: 1px solid rgb(0, 187, 255);
  }  
}
