.taginfo-row {
  font-size: 14px;
  color: #000;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  .label {
    flex: 1;
    opacity: .54;
    text-align: right;
    margin-right: 10px;
  }
  .value {
    flex: 2;
    opacity: .87;
  }
}

.text-preview {
  padding: 0px;
  margin-left: -50px;
  margin-top: -20px;
  border: 1px dashed gray;
  width: 106px;
  height: 48px;
}