<div class="drag-wrapper" appSymbolResizable>
  <div style="width: auto; height: auto; " appSymbolDragable>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 100" version="1.1"
      style="top: 22px; left: -1px; overflow: hidden; width: 150px; height: 100px; visibility: inherit;">
      <path fill="rgba(255,235,59,0.49803921568627452)" stroke="transparent" x="1px" y="1px" [attr.d]="valueAreaPath">
      </path>
      <path fill="transparent" x="1px" y="1px" [attr.d]="valuePath" style="stroke-width: 2; stroke: rgb(255, 235, 59);">
      </path>
    </svg>
  </div>
</div>