svg text {
  pointer-events:none;
  user-select: none;
}
.drag-wrapper {
  width: auto;
  height:auto;
  padding: 0px;
  position: absolute;
  cursor: move;
  border: 1px dashed gray;
  resize: both;
  overflow: hidden;
}